.main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: -20px;
}

i.glyphicon {
  cursor: pointer;
}

a.glyphicon {
  color: #FFF;
  text-decoration: none;
}

.pad-20 {
  padding: 20px;
}
